/* created by Paul */
/*------------------------------------------
  Live demo samples
--------------------------------------------*/

	/**************************
		Sidebar Navigation
	***************************/
	.admin-page-wrap .breadcrumbs {
	    padding: 1.1625rem 0.875rem 1.7625rem 3em;
	    border-width: 0;
	    height: 49px;
	    line-height: 49px !important;
	    background: #F9F9F9;
	    margin: 0 -15px 25px -15px;
	    border-radius: 0 !important;
	}

	.list-drop-down{
		display: none;
	}

	ul.list-drop-down li {
	    /* border-bottom: 1px solid #000; */
	    padding-left: 50px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    font-size: 13px;
	    line-height: 35px;
	}

	ul.list-drop-down {
	    background: #1f709b;
	    position: relative;
	    width: 100%;
	    left: -20px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}

	.list-drop-down li a {
		transition: all 0.5s ease;
	}

	.list-drop-down li a:hover {
		color: #0f5e88;
	}

	.list-drop-down {
	    border-top: solid 2px #0a5882;
	    display: none;
   		 margin-left: 25px;
   		 margin-top: 10px;
   		 margin-bottom: 10px;
    	font-size: 13px;

	}

	ul.list-drop-down .active-side-nav{
		color:#fff!important;
	}

	.change-icon-down{
		float: right;
		padding: 10px 25px;
	}

	.admin-page  #content.reset-content{
		min-height: 0vh;
	}

	.left-text-bld label{
		font-weight: bold;
	}
	
	.change-list-icon{
		float: right;
	}

	#side-nav ul li a i {
	   /* border-left: 2px solid #127eb8;*/
	    border-left: none!important;
	    padding: 10px 16px;
	    width: 50px;
	}

	.eroam_brd_crumbs_handler{
		padding: 25px 0 25px;
		margin: 0 0 25px;
	}

	.breadcrumbs{
		padding: 25px 0 25px;
	}

	/** The Magic **/
	.brd_eroam_out {
	    overflow: visible!important;
	}
	.brd_eroam_out {
	    position: relative;
	    display: block;
	    margin: 0;
	    border: 0;
	    padding: 0;
	    margin-left: auto;
	    margin-right: auto;
	    overflow: hidden;
	}

	.brd_eroam_in {
	    overflow: visible;
	}
	.brd_eroam_in {
	    position: relative;
	    display: block;
	    margin: 0;
	    padding: 0;
	    border: 0;
	    overflow: hidden;
	}

	.breadcrumbs {
	    background-color: rgba(231,231,231,1.00);
	    border-color: rgba(219,219,219,1.00);
	    color: rgba(132,123,185,1.00);
	}
.breadcrumbs {
    border-style: solid;
    border-width: 1px;
    display: block;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    padding: .5625rem .875rem .5625rem;
    background-color: #f4f4f4;
    border-color: #dcdcdc;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 19px;
}

.breadcrumbs>* {
    color: #008CBA;
    float: left;
    font-size: 13px;
    line-height: .6875rem;
    margin: 0;
    text-transform: uppercase;
}
	
	.eroam_brd_crumbs_handler .cs_current{
		color: #cf2a0e!important;
	}

	.breadcrumbs .current{
		font-weight: bold;
	}

	#stacks_in_4665_page66 .breadcrumbs li {
	}
	.breadcrumbs>* {
	    color: #008CBA;
	    float: left;
	    font-size: .6875rem;
	    line-height: .6875rem;
	    margin: 0;
	    text-transform: uppercase;
	}

	#stacks_in_4665_page66 .breadcrumbs li {
	}
	.breadcrumbs>* {
	    color: #f04124;
	    float: left;
	    font-size: .6875rem;
	    line-height: .6875rem;
	    margin: 0;
	    text-transform: uppercase;
	}

	.stacks_in_4665_page66 .breadcrumbs li a {
	}
	.breadcrumbs>* a {
	    color: #008CBA;
	}

	.label-bold{
		font-weight: bold;
		color:#008CBA;
		font-family: 'Open Sans', sans-serif;
	}

	