@font-face {
  font-family: 'custom-font';
  src:  url('custom-font.eot?kc2367');
  src:  url('custom-font.eot?kc2367#iefix') format('embedded-opentype'),
    url('custom-font.ttf?kc2367') format('truetype'),
    url('custom-font.woff?kc2367') format('woff'),
    url('custom-font.svg?kc2367#custom-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-photos:before {
  content: "\e900";
}
.icon-business:before {
  content: "\e901";
}
.icon-delete-forever:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e905";
}
.icon-laundry-service:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
  color: #fff;
}
.icon-reorder-black:before {
  content: "\e908";
}
.icon-restaurant:before {
  content: "\e909";
}
.icon-search-domain:before {
  content: "\e90a";
}
.icon-unfold-less:before {
  content: "\e90b";
}
.icon-unfold-more:before {
  content: "\e90c";
}
.icon-account:before {
  content: "\e90d";
}
.icon-activity:before {
  content: "\e90e";
}
.icon-booking:before {
  content: "\e90f";
}
.icon-content-approval:before {
  content: "\e910";
}
.icon-currency:before {
  content: "\e911";
}
.icon-dashboard:before {
  content: "\e912";
}
.icon-domain:before {
  content: "\e913";
}
.icon-faq:before {
  content: "\e914";
}
.icon-geodata:before {
  content: "\e915";
}
.icon-help:before {
  content: "\e916";
}
.icon-hotel:before {
  content: "\e917";
}
.icon-label:before {
  content: "\e918";
}
.icon-markup:before {
  content: "\e919";
}
.icon-report:before {
  content: "\e91a";
}
.icon-route:before {
  content: "\e91b";
}
.icon-tour:before {
  content: "\e91c";
}
.icon-transport:before {
  content: "\e91d";
}
.icon-user-round:before {
  content: "\e91e";
  color: #fff;
}
.icon-user:before {
  content: "\e91f";
}
